@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
}

.title {
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1E212C;
  margin-bottom: 8px;
}

.subtitle {
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 46px;
  color: #1E212C;
}

.green {
  background: #03CEA4;
}

.blue {
  background: #5A87FC;
}

.pink {
  background: #F52F6E;
}

.orange {
  background: #F89828;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding-bottom: 80px;
  background-image: url(../img/shapes.svg), linear-gradient(55.95deg, rgba(255, 63, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);
  background-position: bottom;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
  min-height: 52px;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul li {
  margin-right: 40px;
  list-style: none;
}

header nav ul li a {
  font-weight: bold;
  font-size: 1rem;
  color: #424551;
  text-decoration: none;
}

header nav ul li:nth-child(1) {
  margin-right: 60px;
}

header nav .right-menu button {
  width: 178px;
  height: 43px;
  border: 0;
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  border-radius: 4px;
  color: white;
  letter-spacing: 0.5px;
  font-weight: bold;
  font-size: 0.875rem;
  margin-right: 37px;
}

header nav .right-menu li {
  margin: 0;
}

header nav .right-menu li i {
  margin-right: 9px;
}

header .promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 20px;
  padding-top: 150px;
}

header .promo .left-block {
  width: 50%;
  min-height: 50px;
  padding: 16px;
}

header .promo .left-block .play {
  margin-bottom: 24px;
}

header .promo .left-block .play button {
  width: 52px;
  height: 52px;
  margin-right: 16px;
  border-radius: 50%;
  background: #FF3F3A;
  border: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-animation: play-btn 1.5s linear infinite;
          animation: play-btn 1.5s linear infinite;
}

header .promo .left-block .play button a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 16px;
  text-decoration: none;
}

header .promo .left-block .play span {
  font-size: 14px;
  font-weight: bold;
  color: #1E212C;
}

header .promo .left-block h1 {
  font-weight: 900;
  font-size: 64px;
  line-height: 130%;
  letter-spacing: 1px;
  color: #1E212C;
  margin-bottom: 60px;
}

header .promo .left-block .promo-btns .about {
  width: 148px;
  height: 52px;
  border-radius: 4px;
  border: 2px solid #FF3F3A;
  background: none;
  color: #FF3F3A;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.5px;
  margin-right: 24px;
}

header .promo .left-block .promo-btns .explore {
  width: 201px;
  height: 52px;
  border-radius: 4px;
  border: none;
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .promo .left-block .promo-btns .explore:hover {
  background: linear-gradient(55.95deg, #F75E05 0%, #FF3F3A 100%);
  -webkit-box-shadow: 0px 5px 10px 0px rgba(255, 63, 58, 0.5);
          box-shadow: 0px 5px 10px 0px rgba(255, 63, 58, 0.5);
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

header .promo .right-block {
  width: 50%;
  min-height: 50px;
  padding: 16px;
}

header .promo .right-block img {
  max-width: 100%;
}

header .counter ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

header .counter ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  align-items: center;
  color: #1E212C;
  margin-right: 65px;
}

header .counter ul li:after {
  content: '\2022';
  margin-left: 65px;
  font-size: 20px;
  color: #FF3F3A;
}

header .counter ul li:last-child {
  margin: 0;
}

header .counter ul li:last-child:after {
  content: '';
}

header .counter ul li span {
  font-weight: 900;
  font-size: 46px;
  color: #1E212C;
  margin-right: 12px;
}

main {
  padding-top: 180px;
}

main .studio-info {
  position: relative;
  margin-bottom: 180px;
}

main .studio-info:before {
  position: absolute;
  top: 60px;
  left: 0;
  content: '';
  width: 105px;
  height: 223px;
  background: url(../icons/dots.svg) no-repeat;
}

main .studio-info:after {
  position: absolute;
  bottom: 0;
  right: 0;
  content: '';
  width: 122px;
  height: 288px;
  background: url(../icons/circles.svg) no-repeat;
}

main .studio-info .info-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 560px;
}

main .studio-info .info-content .content-img {
  max-width: 100%;
}

main .studio-info .info-content .content-descr {
  width: 390px;
}

main .studio-info .info-content .content-descr h3 {
  margin-bottom: 40px;
}

main .studio-info .info-content .content-descr ul {
  list-style: none;
  margin-bottom: 35px;
}

main .studio-info .info-content .content-descr ul li {
  font-size: 16px;
  color: #424551;
  margin-bottom: 12px;
}

main .studio-info .info-content .content-descr ul li:last-child {
  margin-bottom: 0;
}

main .studio-info .info-content .content-descr ul li:before {
  display: inline-block;
  content: '';
  width: 16px;
  height: 16px;
  margin-right: 16px;
  background: url(../icons/check.svg);
}

main .studio-info .info-content .content-descr button {
  width: 161px;
  height: 44px;
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  border-radius: 4px;
  border: none;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

main .studio-info .info-content .content-descr button:hover {
  background: linear-gradient(55.95deg, #F75E05 0%, #FF3F3A 100%);
  -webkit-box-shadow: 0px 5px 10px 0px rgba(255, 63, 58, 0.5);
          box-shadow: 0px 5px 10px 0px rgba(255, 63, 58, 0.5);
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

main .courses {
  margin-bottom: 150px;
}

main .courses-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

main .courses-header__btn {
  width: 203px;
  height: 52px;
  border: 1px solid #FF3F3A;
  border-radius: 4px;
}

main .courses-header__btn a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  color: #FF3F3A;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.5px;
}

main .courses-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .courses-info .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 600px;
  height: 214px;
  background-color: white;
  margin-bottom: 30px;
  border: 1px solid #E5E8ED;
  border-radius: 4px;
  -webkit-box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
          box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  overflow: hidden;
}

main .courses-info .card .card-img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

main .courses-info .card:hover {
  -webkit-box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
          box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
}

main .courses-info .card:hover .card-img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

main .courses-info .card .card-info {
  padding: 32px;
}

main .courses-info .card .card-info .profession {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 23px;
  padding: 1px 8px;
  border-radius: 4px;
  color: white;
  font-size: 14px;
}

main .courses-info .card .card-info h4 {
  font-weight: bold;
  font-size: 20px;
  color: #1E212C;
  margin: 20px 0;
}

main .courses-info .card .card-info span {
  font-size: 18px;
  color: #787A80;
}

main .courses-info .card .card-info .card-price {
  color: #FF4242;
  font-weight: bold;
  border-right: 1px solid #787A80;
  padding-right: 8px;
}

main .courses-info .card .card-info .course-author {
  padding-left: 8px;
}

main .events {
  padding: 80px 0;
  background: linear-gradient(55.95deg, rgba(255, 63, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);
}

main .events h3, main .events h2 {
  text-align: center;
}

main .events .lectures {
  margin-top: 60px;
}

main .events .lectures .lectures-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 126px;
  margin-bottom: 24px;
  padding: 32px 40px;
  background: #FFFFFF;
  border-radius: 4px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

main .events .lectures .lectures-item:hover {
  -webkit-box-shadow: 0px 80px 80px -20px rgba(255, 63, 58, 0.16), 0px 30px 24px -10px rgba(255, 63, 58, 0.1), 0px 12px 10px -6px rgba(255, 63, 58, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
          box-shadow: 0px 80px 80px -20px rgba(255, 63, 58, 0.16), 0px 30px 24px -10px rgba(255, 63, 58, 0.1), 0px 12px 10px -6px rgba(255, 63, 58, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
  z-index: 9999;
}

main .events .lectures .lectures-item time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 42px;
}

main .events .lectures .lectures-item time .data {
  font-weight: 900;
  font-size: 48px;
  margin-right: 20px;
  letter-spacing: 1px;
  color: #FF3F3A;
}

main .events .lectures .lectures-item time span .mouth {
  font-weight: bold;
  font-size: 20px;
  color: #1E212C;
  margin-bottom: 4px;
}

main .events .lectures .lectures-item time span .hours {
  font-size: 16px;
  color: #787A80;
}

main .events .lectures .lectures-item .lectures-name {
  margin-right: 40px;
}

main .events .lectures .lectures-item .lectures-name h3 {
  font-weight: bold;
  font-size: 20px;
  color: #1E212C;
  margin-bottom: 4px;
}

main .events .lectures .lectures-item .lectures-name span {
  font-size: 16px;
  color: #787A80;
}

main .events .lectures .lectures-item button {
  width: 136px;
  height: 44px;
  border: 1px solid #FF3F3A;
  background-color: transparent;
  border-radius: 4px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

main .events .lectures .lectures-item button:hover {
  background: #FF3F3A;
}

main .events .lectures .lectures-item button:hover a {
  color: white;
}

main .events .lectures .lectures-item button a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.5px;
  color: #FF3F3A;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

main .events .lectures-link {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 60px auto 0 auto;
}

main .events .lectures-link span {
  font-weight: bold;
  font-size: 28px;
  color: #1E212C;
  margin-right: 40px;
}

main .events .lectures-link button {
  width: 215px;
  height: 52px;
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  border-radius: 4px;
  border: none;
}

main .events .lectures-link button a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
  text-decoration: none;
}

main .team {
  width: 100%;
  height: 1570px;
  padding: 166px 0 100px 0;
  background: url(../img/team-bg.svg) center center/cover no-repeat;
}

main .team .mentors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-top: 60px;
}

main .team .mentors-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 285px;
  height: 340px;
  padding: 20px 20px 0 20px;
  overflow: hidden;
  background-color: #FFCF2D;
  -webkit-transition: 1s;
  transition: 1s;
  border-radius: 4px;
}

main .team .mentors-card:hover .overlay {
  bottom: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

main .team .mentors-card .overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 20px 5px 20px 20px;
  position: absolute;
  bottom: -100%;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(43.9%, rgba(30, 33, 44, 0)), color-stop(55.21%, rgba(30, 33, 44, 0.03)), color-stop(68.73%, rgba(30, 33, 44, 0.33)), color-stop(76.17%, rgba(30, 33, 44, 0.56)), color-stop(83.75%, rgba(30, 33, 44, 0.768225)), color-stop(91.49%, rgba(30, 33, 44, 0.92)), to(#1E212C));
  background: linear-gradient(180deg, rgba(30, 33, 44, 0) 43.9%, rgba(30, 33, 44, 0.03) 55.21%, rgba(30, 33, 44, 0.33) 68.73%, rgba(30, 33, 44, 0.56) 76.17%, rgba(30, 33, 44, 0.768225) 83.75%, rgba(30, 33, 44, 0.92) 91.49%, #1E212C 100%);
  -webkit-transition: 1s;
  transition: 1s;
}

main .team .mentors-card .overlay .social a {
  color: #c4c3c3;
  margin-right: 15px;
}

main .team .mentors-card .overlay .social a:hover {
  color: white;
}

@-webkit-keyframes play-btn {
  0% {
    -webkit-box-shadow: 0 0 0 0 #ff3f3a;
            box-shadow: 0 0 0 0 #ff3f3a;
  }
  100% {
    -webkit-box-shadow: 0 0 0 16px rgba(255, 63, 58, 0);
            box-shadow: 0 0 0 16px rgba(255, 63, 58, 0);
  }
}

@keyframes play-btn {
  0% {
    -webkit-box-shadow: 0 0 0 0 #ff3f3a;
            box-shadow: 0 0 0 0 #ff3f3a;
  }
  100% {
    -webkit-box-shadow: 0 0 0 16px rgba(255, 63, 58, 0);
            box-shadow: 0 0 0 16px rgba(255, 63, 58, 0);
  }
}
/*# sourceMappingURL=style.css.map */